In [1]:
import pandas as pd

import gmaps

import requests 

from config import gkey

In [2]:
file_to_load = "weather_data/cities.csv"

In [3]:
cities_csv = pd.read_csv(file_to_load)

cities_df = pd.DataFrame(cities_csv)

cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2022-03-23 20:34:14,-33.6500,115.3333,55.33,82,0,12.37
1,1,Ambon,ID,2022-03-23 20:34:14,-3.6954,128.1814,79.36,81,100,12.73
2,2,Nipawin,CA,2022-03-23 20:34:15,53.3668,-104.0009,37.44,75,0,6.91
3,3,Saldanha,ZA,2022-03-23 20:34:15,-33.0117,17.9442,68.05,88,31,18.61
4,4,Albany,US,2022-03-23 20:30:35,42.6001,-73.9662,46.02,39,100,1.99
...,...,...,...,...,...,...,...,...,...,...
586,586,Pochutla,MX,2022-03-23 20:50:19,15.7432,-96.4661,86.83,43,13,9.10
587,587,Oyama,JP,2022-03-23 20:50:20,36.3000,139.8000,42.58,72,81,4.74
588,588,Inhambane,MZ,2022-03-23 20:50:20,-23.8650,35.3833,73.71,87,0,5.28
589,589,Medina Del Campo,ES,2022-03-23 20:50:21,41.3124,-4.9141,51.76,73,92,10.65
590,590,Flin Flon,CA,2022-03-23 20:50:21,54.7682,-101.8650,38.50,94,100,9.75

In [4]:
#configure gmaps to use gkey 
gmaps.configure(api_key=gkey)

In [5]:
#for loop to select only pos temps

# max_temp = cities_df["Max Temp"]

# temps = []

# for temp in max_temp:
#     temps.append(max(temp,0))

#replaced with list comp in cell below

In [6]:
# Max Temp Heat Map 
# data to variables 
locations = cities_df[["Lat", "Lng"]]
max_temp = cities_df["Max Temp"]

#figure variable (plus center and zoom)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level =1.5)

#add heatlayer w variables (plus list comprehension, intensity, point radius)
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heatmap_layer)

#call fig 
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Humidity Heat Map 
# data to variables 
locations = cities_df[["Lat", "Lng"]]
humidity = cities_df["Humidity"]

#figure variable (plus center and zoom)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level =1.5)

#add heatlayer w variables (plus list comprehension, intensity, point radius)
heatmap_layer = gmaps.heatmap_layer(locations, weights= humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heatmap_layer)

#call fig 
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# cloudiness Heat Map 
# data to variables 
locations = cities_df[["Lat", "Lng"]]
cloudiness = cities_df["Cloudiness"]

#figure variable (plus center and zoom)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level =1.5)

#add heatlayer w variables (plus list comprehension, intensity, point radius)
heatmap_layer = gmaps.heatmap_layer(locations, weights= cloudiness, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heatmap_layer)

#call fig 
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# wind speed Heat Map 
# data to variables 
locations = cities_df[["Lat", "Lng"]]
wind_speed = cities_df["Wind Speed"]

#figure variable (plus center and zoom)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level =1.5)

#add heatlayer w variables (plus list comprehension, intensity, point radius)
heatmap_layer = gmaps.heatmap_layer(locations, weights= wind_speed, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heatmap_layer)

#call fig 
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#input

min_temp = float(input("What is the minimum temperature you would like for your trip?"))

max_temp = float(input("What is the maximum temperature you would like for your trip?"))

In [11]:
#filter based on criteria 

preferred_cities_df = cities_df.loc[(cities_df["Max Temp"]<= max_temp) &
                    (cities_df["Max Temp"]>= min_temp)]

preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Ambon,ID,2022-03-23 20:34:14,-3.6954,128.1814,79.36,81,100,12.73
3,3,Saldanha,ZA,2022-03-23 20:34:15,-33.0117,17.9442,68.05,88,31,18.61
8,8,Bambanglipuro,ID,2022-03-23 20:34:17,-7.9500,110.2833,76.60,91,100,1.28
9,9,Paragominas,BR,2022-03-23 20:34:18,-2.9667,-47.4833,77.09,94,98,1.90
12,12,Galle,LK,2022-03-23 20:34:19,6.0367,80.2170,79.95,78,37,7.54
...,...,...,...,...,...,...,...,...,...,...
580,580,Santa Fe,AR,2022-03-23 20:47:22,-31.6333,-60.7000,77.02,83,94,4.00
582,582,Hualmay,PE,2022-03-23 20:50:17,-11.0964,-77.6139,73.53,75,40,11.05
583,583,Nelson Bay,AU,2022-03-23 20:50:18,-32.7167,152.1500,68.00,93,100,1.01
584,584,Banka,IN,2022-03-23 20:50:18,24.8833,86.9167,77.05,10,8,5.26
588,588,Inhambane,MZ,2022-03-23 20:50:20,-23.8650,35.3833,73.71,87,0,5.28

In [12]:
#drop na 
cities_list_df = preferred_cities_df.dropna()

In [13]:
#check drop na
cities_list_df.count()

City_ID       186
City          186
Country       186
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [14]:
#df to csv 
output_data_file = "weather_data/preferred_cities.csv"

cities_list_df.to_csv(output_data_file)

In [15]:
hotel_df = cities_list_df[["City", "Country","Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"]= " "

hotel_df

              City Country  Max Temp      Lat       Lng Hotel Name
1            Ambon      ID     79.36  -3.6954  128.1814
3         Saldanha      ZA     68.05 -33.0117   17.9442
8    Bambanglipuro      ID     76.60  -7.9500  110.2833
9      Paragominas      BR     77.09  -2.9667  -47.4833
12           Galle      LK     79.95   6.0367   80.2170
..             ...     ...       ...      ...       ...        ...
580       Santa Fe      AR     77.02 -31.6333  -60.7000
582        Hualmay      PE     73.53 -11.0964  -77.6139
583     Nelson Bay      AU     68.00 -32.7167  152.1500
584          Banka      IN     77.05  24.8833   86.9167
588      Inhambane      MZ     73.71 -23.8650   35.3833

[186 rows x 6 columns]

In [16]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {
# "location" : city,
"radius": 5000,
"type": "lodging",
"key": gkey }

#use iterrows

for index, row in hotel_df.iterrows():
    
    #get lat and lng from df 
    lat = row["Lat"]
    lng = row["Lng"]

    city = row["City"]

    #add location to params
    params["location"] = f"{lat},{lng}" 

    #url and api request

    print(f"Retrieving Results for Index{index}: {city} .")

    response = requests.get(base_url, params=params).json()

    #extract
    results = response["results"]

    try:
        print(f"{results[0]['name']} in {city}.")

        hotel_df.loc[index, "Hotel Name"] = results[0]["name"]
    
    except:
        print("Could not find result...skipping.")

    print()

Retrieving Results for Index1: Ambon .
Swiss-Belhotel Ambon in Ambon.

Retrieving Results for Index3: Saldanha .
Blue Bay Lodge in Saldanha.

Retrieving Results for Index8: Bambanglipuro .
Puri Brata in Bambanglipuro.

Retrieving Results for Index9: Paragominas .
INOVA in Paragominas.

Retrieving Results for Index12: Galle .
Amangalla in Galle.

Retrieving Results for Index14: Santo Antonio Do Ica .
HOTEL AMAZON WAY in Santo Antonio Do Ica.

Retrieving Results for Index18: Atuona .
Villa Enata in Atuona.

Retrieving Results for Index21: Kapaa .
Sheraton Kauai Coconut Beach Resort in Kapaa.

Retrieving Results for Index26: Huarmey .
Hotel Miramar in Huarmey.

Retrieving Results for Index27: Bredasdorp .
Bredasdorp Country Manor in Bredasdorp.

Retrieving Results for Index29: Cuamba .
Hotel Vision in Cuamba.

Retrieving Results for Index30: Victoria Point .
Bay Retreat Motel in Victoria Point.

Retrieving Results for Index40: Isangel .
Tanna Lodge in Isangel.

Retrieving Results for Index44: Moree .
Molika Springs Motel in Moree.

Retrieving Results for Index46: Maamba .
Could not find result...skipping.

Retrieving Results for Index47: Ixtapa .
hotel la terminal in Ixtapa.

Retrieving Results for Index48: Quelimane .
Hotel Flamingo in Quelimane.

Retrieving Results for Index51: Labuhan .
DoubleFAG in Labuhan.

Retrieving Results for Index53: Tura .
Hotel RIKMAN Continental in Tura.

Retrieving Results for Index60: Antalaha .
Hotel Vitasoa in Antalaha.

Retrieving Results for Index61: Katobu .
La Ode Husein in Katobu.

Retrieving Results for Index62: Whitianga .
Beachside Resort Whitianga in Whitianga.

Retrieving Results for Index63: Lalmohan .
Arifur Rahman Miraj in Lalmohan.

Retrieving Results for Index64: Beira .
Beira Terrace Hotel in Beira.

Retrieving Results for Index70: Fallon .
Best Western Fallon Inn & Suites in Fallon.

Retrieving Results for Index74: Hermanus .
Misty Waves Boutique Hotel in Hermanus.

Retrieving Results for Index75: Jackson .
Agate Village Apartments in Jackson.

Retrieving Results for Index79: Port Alfred .
The Halyards Hotel in Port Alfred.

Retrieving Results for Index81: Matara .
Amaloh Boutique Resort in Matara.

Retrieving Results for Index87: Vaini .
Keleti Beach Resort in Vaini.

Retrieving Results for Index89: Hamilton .
Six Acres Bed & Breakfast in Hamilton.

Retrieving Results for Index91: Alta Floresta .
Floresta Amazonica Hotel in Alta Floresta.

Retrieving Results for Index92: San Patricio .
Motel 6 Sinton, TX in San Patricio.

Retrieving Results for Index93: Biak .
Penginapan Kim in Biak.

Retrieving Results for Index96: Lohardaga .
Shorya Sweet Palace in Lohardaga.

Retrieving Results for Index99: Polonnaruwa .
Thisara Guest House in Polonnaruwa.

Retrieving Results for Index103: Sunrise Manor .
Comfort Inn & Suites Las Vegas - Nellis in Sunrise Manor.

Retrieving Results for Index106: Honiara .
Heritage Park Hotel in Honiara.

Retrieving Results for Index107: Padang .
Mercure Padang in Padang.

Retrieving Results for Index110: Angoche .
Guest House HESADA in Angoche.

Retrieving Results for Index111: Itarema .
Sea Lounge! Bar, Club & Restaurant in Itarema.

Retrieving Results for Index112: Dingle .
SEGAYA PROPERTY in Dingle.

Retrieving Results for Index121: Saint-Philippe .
Chambres d'hôte "La Trinité" in Saint-Philippe.

Retrieving Results for Index122: Tawau .
Shervinton Executive Boutique Hotel in Tawau.

Retrieving Results for Index125: Piacabucu .
Piaçabuçu News in Piacabucu.

Retrieving Results for Index129: Aguas Vermelhas .
Could not find result...skipping.

Retrieving Results for Index130: Chuy .
Nuevo Hotel Plaza in Chuy.

Retrieving Results for Index137: East London .
Tu Casa in East London.

Retrieving Results for Index139: Cam Ranh .
OYO 598 Peony Hotel in Cam Ranh.

Retrieving Results for Index142: Tancitaro .
Autolavado VIP in Tancitaro.

Retrieving Results for Index143: Beloha .
Could not find result...skipping.

Retrieving Results for Index144: Flinders .
Shellharbour Resort & Conference Centre in Flinders.

Retrieving Results for Index147: Mayumba .
LIKWALE LODGE in Mayumba.

Retrieving Results for Index149: Cidreira .
Hotel Castelo in Cidreira.

Retrieving Results for Index155: Dicabisagan .
Nancy Montanes Bernardo in Dicabisagan.

Retrieving Results for Index158: Castro .
CHACARA BAILLY in Castro.

Retrieving Results for Index162: Banjar .
The Hamsa Resort in Banjar.

Retrieving Results for Index166: Bengkulu .
Grage Hotel Bengkulu in Bengkulu.

Retrieving Results for Index169: Grand-Santi .
Hotel La Villa Couacou in Grand-Santi.

Retrieving Results for Index170: Kui Buri .
Rista House & Resort in Kui Buri.

Retrieving Results for Index175: Najran .
محمد هادي ال فطيح in Najran.

Retrieving Results for Index183: Bireun .
Rumah Bp.AR. ISMAIL in Bireun.

Retrieving Results for Index186: Alice Springs .
Desert Palms Alice Springs in Alice Springs.

Retrieving Results for Index187: Reserva .
Hotel Mavi in Reserva.

Retrieving Results for Index188: Kiunga .
Airport Lodge Kiunga in Kiunga.

Retrieving Results for Index194: Tezu .
Circuit House in Tezu.

Retrieving Results for Index195: Mackay .
International Lodge Motel in Mackay.

Retrieving Results for Index196: Cape Town .
Radisson Blu Hotel Waterfront, Cape Town in Cape Town.

Retrieving Results for Index197: Daitari .
Could not find result...skipping.

Retrieving Results for Index201: Salalah .
HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel in Salalah.

Retrieving Results for Index206: Necochea .
dyd -mar Hotel in Necochea.

Retrieving Results for Index211: Koumac .
Le Monitel in Koumac.

Retrieving Results for Index212: Ormara .
Kenara Colony house for Rent in Ormara.

Retrieving Results for Index214: Richards Bay .
BON Hotel Waterfront Richards Bay in Richards Bay.

Retrieving Results for Index215: Yulara .
Desert Gardens Hotel - Ayers Rock Resort in Yulara.

Retrieving Results for Index216: Ahipara .
Ahipara Holiday Park in Ahipara.

Retrieving Results for Index217: Tamiahua .
Mission Of The Sun Hotel in Tamiahua.

Retrieving Results for Index218: Gamboma .
Residence N'Keni in Gamboma.

Retrieving Results for Index222: Vao .
Hotel Kou-Bugny in Vao.

Retrieving Results for Index223: Avera .
Could not find result...skipping.

Retrieving Results for Index225: Minab .
Bam campground in Minab.

Retrieving Results for Index226: Mossendjo .
HOTEL D'ASSISE in Mossendjo.

Retrieving Results for Index228: Farroupilha .
Hotel Nova Vicenza in Farroupilha.

Retrieving Results for Index233: Sandusky .
Great Lakes Motel Fremont in Sandusky.

Retrieving Results for Index234: Saint George .
Best Western Plus Abbey Inn in Saint George.

Retrieving Results for Index235: Gossaigaon .
Daory Dhaba in Gossaigaon.

Retrieving Results for Index242: Ambilobe .
Hôtel & Restaurant DIANA Ambilobe in Ambilobe.

Retrieving Results for Index243: Tamandare .
Pousada 100 Passos in Tamandare.

Retrieving Results for Index244: Mar Del Plata .
Gran Hotel Mar del Plata in Mar Del Plata.

Retrieving Results for Index252: Popondetta .
Timos Transit House in Popondetta.

Retrieving Results for Index256: Aketi .
Could not find result...skipping.

Retrieving Results for Index257: Ternate .
Sahid Bela Ternate Hotel in Ternate.

Retrieving Results for Index259: Hilo .
Hilo Hawaiian Hotel in Hilo.

Retrieving Results for Index264: Ca Mau .
Khách Sạn Mường Thanh Luxury Cà Mau in Ca Mau.

Retrieving Results for Index266: Carnarvon .
Hospitality Carnarvon in Carnarvon.

Retrieving Results for Index276: Miri .
Mega Hotel, Miri in Miri.

Retrieving Results for Index284: Riyadh .
InterContinental Riyadh, an IHG Hotel in Riyadh.

Retrieving Results for Index287: Casino .
Squatters Homestead Motel in Casino.

Retrieving Results for Index293: Sibu .
RH HOTEL (4 Star) in Sibu.

Retrieving Results for Index295: Namibe .
Hotel Chik Chik Namibe in Namibe.

Retrieving Results for Index296: Hambantota .
Bungalow 63 in Hambantota.

Retrieving Results for Index297: San Rafael .
Hotel San Rafael in San Rafael.

Retrieving Results for Index301: Pacific Grove .
Lovers Point Inn in Pacific Grove.

Retrieving Results for Index302: Pouebo .
RIVÂT LODGE in Pouebo.

Retrieving Results for Index303: San Quintin .
Don Eddie's Sport Fishing Center in San Quintin.

Retrieving Results for Index306: Adrar .
Could not find result...skipping.

Retrieving Results for Index307: Port Elizabeth .
39 On Nile Guest House in Port Elizabeth.

Retrieving Results for Index308: Port Blair .
Welcomhotel By ITC Hotels, Bay Island, Port Blair in Port Blair.

Retrieving Results for Index310: Weligama .
Weligama Bay Resort in Weligama.

Retrieving Results for Index312: Sao Jose Da Coroa Grande .
Crôa Mares Hotel in Sao Jose Da Coroa Grande.

Retrieving Results for Index316: Carutapera .
Lidera in Carutapera.

Retrieving Results for Index318: Simpang .
Could not find result...skipping.

Retrieving Results for Index324: Waingapu .
Pondok Wisata Elim in Waingapu.

Retrieving Results for Index326: Nanyamba .
Busati Lodge Nanyamba in Nanyamba.

Retrieving Results for Index327: La Asuncion .
Colinas de Matasiete in La Asuncion.

Retrieving Results for Index334: Pangai .
Ha'apai Beach Resort in Pangai.

Retrieving Results for Index335: Merauke .
Could not find result...skipping.

Retrieving Results for Index336: Saint-Pierre .
Lindsey Hôtel in Saint-Pierre.

Retrieving Results for Index338: Imbituba .
Praia Hotel Imbituba in Imbituba.

Retrieving Results for Index339: Sembakung .
Could not find result...skipping.

Retrieving Results for Index341: Santa Maria .
Hotel Morotin in Santa Maria.

Retrieving Results for Index342: Calvinia .
Die Lemoenhuis in Calvinia.

Retrieving Results for Index348: Houma .
Courtyard by Marriott Houma in Houma.

Retrieving Results for Index350: Son La .
Galaxy Grand Hotel in Son La.

Retrieving Results for Index351: Geraldton .
Broadwater Mariner Resort in Geraldton.

Retrieving Results for Index358: Coquimbo .
Hotel San Juan in Coquimbo.

Retrieving Results for Index363: Sao Filipe .
Hotel Xaguate in Sao Filipe.

Retrieving Results for Index364: Pekan .
Pekan Budget Hotel in Pekan.

Retrieving Results for Index365: Bacolod .
Planta Hotel & Residences in Bacolod.

Retrieving Results for Index370: Wewak .
In Wewak Boutique Hotel in Wewak.

Retrieving Results for Index372: Ipora .
Oásis Motel in Ipora.

Retrieving Results for Index373: Barreiras .
Hotel Solar das Mangueiras - Barreiras in Barreiras.

Retrieving Results for Index385: Gold Coast .
Mantra Towers of Chevron Surfers Paradise in Gold Coast.

Retrieving Results for Index386: Keti Bandar .
Haji laloo memon house in Keti Bandar.

Retrieving Results for Index401: Kahului .
Maui Seaside Hotel in Kahului.

Retrieving Results for Index404: Taltal .
Residencial Karime in Taltal.

Retrieving Results for Index405: Bubaque .
Casa Dora, Bubaque in Bubaque.

Retrieving Results for Index408: Bahile .
Nitivos Beach Resort in Bahile.

Retrieving Results for Index409: Kununurra .
Hotel Kununurra in Kununurra.

Retrieving Results for Index411: Islamkot .
Haji Hotel in Islamkot.

Retrieving Results for Index413: Talagang .
Sajid Iqbal Manzil in Talagang.

Retrieving Results for Index422: Pisco .
Hotel San Isidro Oficial in Pisco.

Retrieving Results for Index424: Alyangula .
Groote Eylandt Lodge in Alyangula.

Retrieving Results for Index425: Atar .
Oumou Elghoura in Atar.

Retrieving Results for Index426: Port Macquarie .
Rydges Port Macquarie in Port Macquarie.

Retrieving Results for Index429: Qeshm .
Qeshm Kavan Hotel in Qeshm.

Retrieving Results for Index431: Salinopolis .
Salinas Park Resort Maçarico AP101 in Salinopolis.

Retrieving Results for Index433: Mwingi .
Thorn Tree by The Address in Mwingi.

Retrieving Results for Index435: Eyl .
Amiin Hotel in Eyl.

Retrieving Results for Index436: Port Shepstone .
My Den Beachfront Bed and Breakfast | Self-Catering in Port Shepstone.

Retrieving Results for Index439: Carlos Antonio Lopez .
Milenium in Carlos Antonio Lopez.

Retrieving Results for Index442: Mount Isa .
ibis Styles Mt Isa Verona in Mount Isa.

Retrieving Results for Index448: Sibolga .
Hotel Syariah CN Darussalam in Sibolga.

Retrieving Results for Index449: Bongandanga .
Could not find result...skipping.

Retrieving Results for Index455: Half Moon Bay .
The Ritz-Carlton, Half Moon Bay in Half Moon Bay.

Retrieving Results for Index459: Yei .
City Link Hotel in Yei.

Retrieving Results for Index467: Kaeo .
Bushido Lodge in Kaeo.

Retrieving Results for Index470: Mecca .
Makkah Clock Royal Tower, A Fairmont Hotel in Mecca.

Retrieving Results for Index471: Rincon .
Days Inn Rincon in Rincon.

Retrieving Results for Index477: Ntoum .
Hôtel Santa Barbara in Ntoum.

Retrieving Results for Index481: Mweka .
Guest House Boshab in Mweka.

Retrieving Results for Index482: Tarn Taran .
Hotel Satkar in Tarn Taran.

Retrieving Results for Index486: Tessalit .
Could not find result...skipping.

Retrieving Results for Index490: Contai .
PATHFINDER in Contai.

Retrieving Results for Index493: Guaraniacu .
Dalla´s Hotel in Guaraniacu.

Retrieving Results for Index495: Pontal Do Parana .
Eco Hostel Residencial Bananeiras in Pontal Do Parana.

Retrieving Results for Index497: Peruibe .
Hotel Pousada Xapuri in Peruibe.

Retrieving Results for Index507: Callaway .
Holiday Inn Express & Suites Panama City-Tyndall, an IHG Hotel in Callaway.

Retrieving Results for Index514: Edd .
Could not find result...skipping.

Retrieving Results for Index517: Buraydah .
Mövenpick Qassim in Buraydah.

Retrieving Results for Index528: Bambui .
Paulinelli Palace Hotel in Bambui.

Retrieving Results for Index536: Virginia Beach .
Hilton Virginia Beach Oceanfront in Virginia Beach.

Retrieving Results for Index538: Antofagasta .
Holiday Inn Express Antofagasta, an IHG Hotel in Antofagasta.

Retrieving Results for Index545: Arlit .
Case de Passage De la Prefecture in Arlit.

Retrieving Results for Index549: Sinnamary .
ALETHEIA Appartement Sinnamary in Sinnamary.

Retrieving Results for Index558: Bandarbeyla .
JABIR HOTEL in Bandarbeyla.

Retrieving Results for Index567: Poum .
Could not find result...skipping.

Retrieving Results for Index570: Balikpapan .
Swiss-Belhotel Balikpapan in Balikpapan.

Retrieving Results for Index572: Lompoc .
Holiday Inn Express Lompoc, an IHG Hotel in Lompoc.

Retrieving Results for Index573: Mawlaik .
AKZ Guest House in Mawlaik.

Retrieving Results for Index574: Mindelo .
Hotel Gaudi in Mindelo.

Retrieving Results for Index580: Santa Fe .
Conquistador Hotel in Santa Fe.

Retrieving Results for Index582: Hualmay .
Hotel Villa Kitzia Huacho in Hualmay.

Retrieving Results for Index583: Nelson Bay .
Mantra Nelson Bay in Nelson Bay.

Retrieving Results for Index584: Banka .
Hotel Krrish Inn in Banka.

Retrieving Results for Index588: Inhambane .
Oceano in Inhambane.

In [17]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Ambon,ID,79.36,-3.6954,128.1814,Swiss-Belhotel Ambon
3,Saldanha,ZA,68.05,-33.0117,17.9442,Blue Bay Lodge
8,Bambanglipuro,ID,76.60,-7.9500,110.2833,Puri Brata
9,Paragominas,BR,77.09,-2.9667,-47.4833,INOVA
12,Galle,LK,79.95,6.0367,80.2170,Amangalla
...,...,...,...,...,...,...
580,Santa Fe,AR,77.02,-31.6333,-60.7000,Conquistador Hotel
582,Hualmay,PE,73.53,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
583,Nelson Bay,AU,68.00,-32.7167,152.1500,Mantra Nelson Bay
584,Banka,IN,77.05,24.8833,86.9167,Hotel Krrish Inn
588,Inhambane,MZ,73.71,-23.8650,35.3833,Oceano

In [19]:
#info box code for markers 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""


hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
#temp heatmap from hotel df 
# Max Temp Heat Map 
# data to variables 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

#figure variable (plus center and zoom)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level =1.5)

#add heatlayer w variables (plus list comprehension, intensity, point radius)
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heatmap_layer)

#marker layer
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

#call fig 
fig

Figure(layout=FigureLayout(height='420px'))